.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}
#components-layout-demo-top .logo {
    float: left;
    width: 120px; 
    height: 31px;
    margin: 16px 24px 16px 0;
}
.ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
}
.ant-layout-content {
    background: #fff;
}
.ant-layout-footer {
    height: 48px;
    line-height: 48px;
    padding: 0;
}
.logo {
    height: 40px;
    margin: 16px;
    text-align: center;
}